@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root{
    --main-color : #31087B;
    --second-color : #100720;
    --body-color : #FFC23C;

    --main-font: 'Lilita One', cursive;
}

/*dekstop*/
*{
    padding: 0;
    margin: 0;
}

body{
    width: auto;
    background-color: var(--body-color);
    font-family: var(--main-font);
}

.body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}


.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: baseline;
    align-items: center;
    background-color: var(--second-color);
    background-image: url(/asset/stg-ling.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}



.img1{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: auto;
    display: flex;
}

.img2{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: auto;
    display: flex;
}

.img3{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: auto;
    display: flex;
}

.namaku{
    padding-top: 2%;
    padding-bottom: 4%;
    width: 100%;
    font-size: 32px;
    color: var(--body-color);
    
}

.bg-foto{
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
}

.image{
    align-content: center;
    justify-content: center;
    padding-left: 10%;
    width: 10%;
    height: 95%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.foto-diri{
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-grow: 6;
}

.list{
    padding-left: 5%;
    padding-right: 1%;
    width: 10%;
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
}

.kerjaan{
    font-size: 29px;
    width: 100%;
    text-align: center;
    display: flexbox;
    color: var(--body-color);
    list-style: none;
}

.isi-1{
    margin-top: 8%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
   
}
.isi-1 h1{
    color: #C34E6B; 
    font-size: 76px;
}
p{
    font-size: 32px;
    color: #FA2FB5;
}

a{
    color: #4654E8;
}

.isi-2{
    margin-top: 5%;
    display: flex;
    width: 70%;
}

.isi-2 img{
    width: 100%;
}

.isi-3{
display: none;
}

.isi-3 img{
display: none;
}

.box-isi-4{
    width: 80%;
    padding-top: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: solid var(--main-color) 10px;
    border-radius: 30px;
}

.isi-4{
    justify-items: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    text-align: center;
}
.isi-4 h2{

    width: 80%;
    color: #C34E6B;
    font-size: 50px;

}

.skill{
    margin-top: 1%;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    width: 100%;
}
.html{
    width: 15%;
    height: auto;

}
.css{
    margin-left: 3%;
    margin-right: 4%;
    width: 10%;
}
.corel{
    width: 15%;
}

.footer{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--main-color);
    align-items: center;
    text-align: center;
}

.footer > p{
    font-size: 20px;
    width: 90%;
    margin-top: 2%;
}

.sosmed{
    width: 90%;
}.sosmed img{
    margin-right: 1%;
    margin-left: 1%;
    width: 5%;
}


@media (320px <= width <= 768px){
    .home{
        height: auto;
        flex-direction: column;
    }

    .foto-diri{
        padding-top: 3%;
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        flex-grow: 6;
    }

    .bg-foto{
        width: 92%;
    }

    .namaku{
        font-size: 28px;
    }

    .list{
        width: 40%;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .kerjaan{
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 28px;
    }

    .image{
        display: none;
    }

    .isi-1{
        width: 90%;
    }

    .isi-1 h1{
        font-size: 50px;
    }
    p{
        font-size: 25px;
    }

    
    .isi-4 h2{
        font-size: 20px;
    }

    .box-isi-4{
        border: solid var(--main-color) 5px;
    }

    .footer > p{
        font-size: 10px;
    }
}
